---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Meta from '../components/Meta.astro';
import CartDrawer from '../components/cart/CartDrawer';
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  structuredData?: object;
}

const { title, description, image, structuredData } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Meta
      title={title}
      description={description}
      image={image}
      structuredData={structuredData}
    />
    <slot name="head" />
    <!-- Preload Inter font -->
    <link
      rel="preload"
      href="/fonts/Inter-VariableFont_opsz,wght.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- preload cloudflare challenges script for faster loading of the cart drawer -->
    <link rel="preconnect" href="https://challenges.cloudflare.com" />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />

    <!-- Cart Drawer (Preact, always mounted) -->
    <CartDrawer client:load />

    <!-- Page content (push down below fixed header) -->
    <main class="flex-1 pt-16">
      <slot />
    </main>

    <Footer />
  </body>
</html>
